.admin_radio_label{
  position: relative;
  cursor: pointer;
}
.admin_radio_input{
  display: none;
}
.admin_radio_span{
  font-size: 2rem;
  padding: 1rem;
  position: relative;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  width: 10rem;
  height: 10rem;
  background-color: var(--dark-color);; 
  border-radius: .5rem;
}

.admin_radio_label .admin_radio_input:checked ~.admin_radio_span{
  color: var(--orange-color);
}

.admin_keuze{
  font-size: 2.5rem;
  text-align: center;
}

.admin_submit{
  grid-area: submit;
}

.admin_input_wrapper{
  grid-area: wrapper;
  display: grid;
  width: 100%;

  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.admin_form{
  width: 100%;
  grid-gap: 2rem;
  display: grid;
  justify-items: center;
  grid-template-areas: 'wrapper'
  'submit';
  grid-template-rows: repeat(2, max-content);
}