.title{
  font-size: 5rem;
}
.form_wrapper, .room_wrapper{
  display: grid;
  grid-gap: 5rem;
  justify-items: center;
}

.bijschrift{
  font-size: 2rem;
}

.room_wrapper{
  margin-top: 15rem;
}

.form_wrapper, {
  margin-top: 10rem;
  width: 35rem;
}

.input, .input::placeholder{
  color: var(--white-color);
  font-family:  adobe-caslon-pro;
  text-align: center;
}

.input{
  font-size: 2.5rem;
  margin: 3rem 0;
  padding: 1.5rem 2rem;
  width: 100%;
  display: inline-block;
  background: var( --ultradark-color);
  border: .1rem solid rgba(187,213,237,0.50);
  border-radius: 3.5rem;
}

.input::placeholder{
  font-style: italic;
  opacity: .5;
}