.title{
  font-size: 4rem;
}

.room_wrapper{
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-gap: 10rem;
  justify-items: center;
  height: calc(100vh - 10rem);;
}

.title_wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}

.role{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  width: 25rem;
  height: 10rem;
  border-right: 1rem solid var(--white-color);
}

.role_name{
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
}

.form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input, .input_true{
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
  width: 40rem;
  display: inline-block;
  background: var( --dark-red-color);
  border: .4rem solid var(--bright-red-color);
  outline-color: var(--white-color);
  border-radius: 0.75rem;
}

.input:focus, .input_true{
  border-color: white;
}

.input, .input::placeholder, .input_true{
  color: var(--white-color);
  font-family:  Montserrat;
}

.input::placeholder{
  opacity: .5;
}