@import "./reset.css";
@import "./colors.module.css";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: var(--white-color);;
  font-family: adobe-caslon-pro;
  background-image: radial-gradient(35% 60%, var(--blue-color) 35%, var(--dark-color) 60%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
}

.title{
  font-size: 3rem;
  color: var(--white-color);
}