.player_melding{
  color: var(--white-color);
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.player_melding_wrapper, .player_melding_wrapper_small{
  height: calc(100vh - 55rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
}

.player_melding_full_wrapper{
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player_melding_wrapper_small{
  animation: moveUp .7s ease-in-out forwards;
  -webkit-animation: moveUp .7s ease-in-out forwards;
  animation-delay: .5s;
}

.bolletje_wrapper{
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;

}
.bolletje{
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: var(--bright-red-color);
  animation: wave 1.3s ease-in-out infinite;
  -webkit-animation: wave 1.3s ease-in-out infinite;
}

.bolletje:nth-child(2) {
  animation-delay: -1s;
}

.bolletje:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes moveUp {
  0%{transform: translateY(0);}
  100%{transform: translateY(-25rem);}
}
@-webkit-keyframes moveUp {
  0%{transform: translateY(0);}
  100%{transform: translateY(-25rem);}
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}
@-webkit-keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}