.radio_label{
  position: relative;
  cursor: pointer;
}
.radio_input{
  display: none;
}
.radio_span{
  font-size: 2rem;
  padding: 1rem;
  position: relative;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  width: 10rem;
  height: 10rem;
  background-color: #0E0D36; 
  border-radius: .5rem;
  transition: color .2s ease;
}

.radio_label .radio_input:checked ~.radio_span{
  color: #F7B32B
}