.radio_label{
  position: relative;
  cursor: pointer;
}
.radio_input{
  display: none;
}

.svg{
  /* filter: invert(.5); */
  width: 7.5rem;
}
.radio_label .radio_input:checked ~ .svg{
  filter: brightness(0) invert(1) drop-shadow(0 0 4rem var(--white-color)) ;
}

.radio_span{
  font-size: 2rem;
  padding: 1rem;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 14rem;
  height: 14rem;
  transition: filter .2s ease-in-out
  /* box-shadow: none;
  transition: box-shadow ease-out .2s; */
  /* background-color: transparent; */
}

/* .radio_label .radio_input:checked ~.radio_span, .radio_label .radio_input:hover ~.radio_span{
  /* background: var(--darkbright-red-color);
  border: .1rem solid var(--transparant-bright-red-color); */
  /* box-shadow: inset 0 0 3rem 0 rgba(0,0,0,0.30), 0 0 11rem .1rem var(--transparant-bright-red-color); */
  /* filter: drop-shadow(.5rem .5rem 1rem .3rem green) 
} */

.radio_label .radio_input:checked ~ .radio_span svg g g{
  fill: var(--white-color);
}
/* .radio_label .radio_input:checked ~ .radio_span svg g {
  opacity: 1;
} */
.radio_label .radio_input:checked ~ .radio_span{
  filter: drop-shadow(0 0 4rem var(--white-color)) 
}

.option_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: var(--dark-red-color);
  box-shadow: inset 0 0 3rem 0 rgba(0,0,0,0.30), 0 0 11rem .1rem var(--transparant-bright-red-color);
  border-radius: 100rem;
}