.radio_label{
  position: relative;
  cursor: pointer;
}
.radio_input{
  display: none;
}

.svg{
  width: 15rem;
  height: 20rem;
}
.jpg{
  width: 20rem;
  height: 20rem;
}
.radio_label .radio_input:checked ~ .svg{
  filter: brightness(0) invert(1) drop-shadow(0 0 4rem var(--white-color)) ;
}
.radio_label .radio_input:checked ~ .jpg{
  filter: drop-shadow(0 0 4rem var(--white-color)) ;
}

.radio_span{
  font-size: 2rem;
  padding: 1rem;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 14rem;
  height: 14rem;
  transition: filter .2s ease-in-out;
}

.radio_label .radio_input:checked ~ .radio_span svg g g{
  fill: var(--white-color);
}

.radio_label .radio_input:checked ~ .radio_span{
  filter: drop-shadow(0 0 4rem var(--white-color)) 
}